<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NovaSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NovaSystem.Properties.Settings>
            <setting name="valueSerailPort" serializeAs="String">
                <value>COM9</value>
            </setting>
            <setting name="valueSensorLayout" serializeAs="String">
                <value>24*14</value>
            </setting>
        </NovaSystem.Properties.Settings>
    </userSettings>
</configuration>